<!-- footer -->
<footer>
	<p id="rights">Whisker Cove &copy; 2024 &bull; All Rights Reserved</p>
	<p id="credit" onclick="giveCredit()">Photo Credits</p>
	<p id="privacy" onclick="privacyPolicy()">Privacy Statement</p>
</footer>