<!-- side menu -->
<nav class="left-navbar">
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="/find">Find a Pet</a></li>
		<li><a href="/cat">Cat Care</a></li>
		<li><a href="/dog">Dog Care</a></li>
		<li><a href="/give">Rehome Pet</a></li>
		<li><a href="/contact">Contact Us</a></li>
		<li><a href="/signin">Log In</a></li>
		<li><a href="/logout">Log Out</a></li>
	</ul>
</nav>